{{ if .Params.bannerLarge }}
	<style>
		[role=banner] {
			background: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.banner }}') center {{ if .Params.bannerPosition }}{{ .Params.bannerPosition }}{{ else }}50%{{ end }} /cover no-repeat;
			background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.banner }}') center {{ if .Params.bannerPosition }}{{ .Params.bannerPosition }}{{ else }}50%{{ end }} /cover no-repeat;
		}

		@media screen and (min-width: 768px) {
			[role=banner] {
				background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.bannerLarge }}');
				background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.bannerLarge }}');
			}
		}

		{{ if .Params.bannerHuge }}
		@media screen and (min-width: 1200px) {
			[role=banner] {
				background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.bannerHuge }}');
				background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.bannerHuge }}');
			}
		}
		{{ end }}
	</style>
{{ else if .Params.banner }}
	{{ if in .Params.banner "<svg" }}
		<style>
			[role=banner] {
				--pattern:  url('data:image/svg+xml;charset=utf-8;base64,{{ base64Encode .Params.banner }}');
			}
		</style>
	{{ else }}
		<style>
			[role=banner] {
				background: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.banner }}') center {{ if .Params.bannerPosition }}{{ .Params.bannerPosition }}{{ else }}50%{{ end }} /cover no-repeat;
				background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('{{ safeHTML .Params.banner }}') center {{ if .Params.bannerPosition }}{{ .Params.bannerPosition }}{{ else }}50%{{ end }} /cover no-repeat;
			}
		</style>
	{{ end }}
{{ end }}
