<footer role="contentinfo" class="wrap">
  <div class="low clear">
    <a class="logo" href="/"><strong><span>T</span>omango</strong></a>
    <ul class="low-group">
      <li class="low-address">
        <ul>
          <li>3 Meadow Business Centre</li>
          <li>Old Uckfield Road, Ringmer</li>
          <li>East Sussex BN8 5RW</li>
          <li>&nbsp;</li>
          <li>
            <a href="https://www.google.co.uk/maps/place/Tomango+Ltd/@50.9004654,0.0374213,17z/data=!3m1!4b1!4m5!3m4!1s0x47df624e751c6351:0x102dd9fb9cb32131!8m2!3d50.900462!4d0.03961">Map</a>
          </li>
        </ul>
      </li>
      <li class="low-contact">
        <ul>
          <li>
            <a rel="me" href="mailto:hello@tomango.co.uk">hello@tomango.co.uk</a>
          </li>
          <li>
            <a rel="me" href="tel:01273814019">+44 (0)1273 814 019</a>
          </li>
        </ul>
      </li>
      <li class="low-social">
        <ul>
          <li>
            <a rel="me" href="https://twitter.com/tomangoUK">Twitter</a>
          </li>
          <li>
            <a rel="me" href="https://www.instagram.com/tomangoUK/">Instagram</a>
          </li>
          <li>
            <a rel="me" href="https://www.facebook.com/tomangoUK/">Facebook</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <small class="copyright">
    &copy; Tomango {{ now.Format "2006" }} <a href="/careers/">Careers</a> <a href="/privacy/">Privacy</a>
  </small>
</footer>
