<form method="POST" netlify-honeypot="a-bot-field" name="contact" action="thank-you/" class="form form--contact" netlify>
	<p class="validation-hide">
		<label>Don’t fill this out: <input name="a-bot-field"></label>
	</p>
	<p>
		<label for="full_name">Your name<span class="required">*</span></label>
		<input type="text" required name="full_name" id="full_name"/>
	</p>
	<p>
		<label for="email">Email<span class="required">*</span></label>
		<input type="email" required name="email" id="email"/>
	</p>
	<p>
		<label for="phone">Phone</label>
		<input type="tel"  name="phone" id="phone"/>
	</p>
	<p>
		<label for="business">Business</label>
		<input type="text"  name="business" id="business"/>
	</p>
	<div class="form-group-radio">
		<label for="budget">Budget</label>
		<div>
			<label class="radio-label">
				<input type="radio" name="budget" id="budget" value="£5k-£10k">
				<span>£5k-£10k</span>
			</label>
			<label class="radio-label">
				<input type="radio" name="budget" id="budget" value="£10k-£20k">
				<span>£10k-£20k</span>
			</label>
			<label class="radio-label">
				<input type="radio" name="budget" id="budget" value="£20k-£50k">
				<span>£20k-£50k</span>
			</label>
			<label class="radio-label">
				<input type="radio" name="budget" id="budget" value="£50k+">
				<span>£50k+</span>
			</label>
		</div>
	</div>
	<p>
		<label for="message">How can we help you?<span class="required">*</span></label>
		<textarea name="message" id="message" required></textarea>
	</p>
	<input type="submit" class="button" value="Send" />
</form>

<small><u><a href="/privacy/">Our Privacy policy</a></u>.</small>