<article class="post post-blog" {{ if .Params.image }} style="background-image: url(https://res.cloudinary.com/tomango/image/fetch/w_600/https://www.tomango.co.uk/{{ .Params.image }}"{{ end }}>
	<div class="post-blog__content">
		<small>
			{{ partial "tags" . }}
			<time datetime="{{ .Date }}">{{ partial "date" .Date }}</time>
		</small>
		<h2>
			{{ if index .Params "thinks/categories" }}
				{{ if ne (index (index .Params "thinks/categories") 0) "instagram" }}
					<a href="{{ .URL }}">{{ .Title }}</a>
				{{ else }}
					{{ .Content }}
				{{ end }}
			{{ else }}
				<a href="{{ .URL }}">{{ .Title }}</a>
			{{ end }}
		</h2>
	</div>
	{{ if index .Params "thinks/categories" }}
		{{ if ne (index (index .Params "thinks/categories") 0) "instagram" }}
			<a href="{{ .URL }}" class="post-blog__link"></a>
		{{ else }}
			<a href="{{ .Params.originalURL }}" target="_blank" class="post-blog__link"></a>
		{{ end }}
	{{ else }}
		<a href="{{ .URL }}" class="post-blog__link"></a>
	{{ end }}
</article>