<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    {{ $url := getenv (cond (eq "production" (getenv "CONTEXT")) "URL" "DEPLOY_PRIME_URL" ) | default (cond (eq "//localhost:1313/" (printf "%s" $.Site.BaseURL)) "//localhost:1313" $.Site.BaseURL) }}
    {{ $title := .Params.seo_title | default (printf "%s | %s | Web Design Sussex" .Title .Site.Title) }}
    {{ $desc := .Params.seo_description | default .Params.Description | default (printf "%s | %s | Web Design Sussex" .Title .Site.Title) }}
    {{ $image := printf "%s%s" $url (.Params.image | default "images/og.jpg" | relURL) }}
    <base href="{{ $url }}">
    <link rel="preload" href="webfonts/34C79D_0_0.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="webfonts/34C79D_1_0.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="apple-mobile-web-app-title" content="Tomango">
    <meta name="application-name" content="Tomango">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <meta name="msvalidate.01" content="F21C36C6208514475B51C052A74397CE" />

    <title>{{ $title }}</title>
    <meta name="description" content="{{ $desc }}" />

    <link rel="canonical" href="{{ $url }}{{ .URL }}" />
    <meta property="og:site_name" content="Tomango" />
    <meta property="og:locale" content="en_GB" />
    <meta property="article:publisher" content="https://www.facebook.com/tomangoUK" />
    <meta name="twitter:site" content="@tomangoUK" />
    <meta name="twitter:creator" content="@tomangoUK" />

    <meta property="og:url" content="{{ $url }}{{ .URL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ $desc }}" />
    <meta property="og:image" content="{{ $image }}" />
    <meta property="og:image:alt" content="{{ .Site.Title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ $title }}" />
    <meta name="twitter:description" content="{{ $desc }}" />
    <meta name="twitter:image" content="{{ $image }}" />
    {{ if (.IsPage) and eq .Section "thinks" }}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ .Date }}" />
    <meta property="article:modified_time" content="{{ .Lastmod }}" />
    <meta property="og:updated_time" content="{{ .Lastmod }}" />
    
    {{ if index .Params "thinks/categories" }}{{ range first 1 (index .Params "thinks/categories") }}<meta property="article:section" content="{{ . | humanize }}" />{{ end }}{{ end }}
    {{ if .Params.author }}
    <meta name="twitter:label1" value="Written by" />
    <meta name="twitter:data1" value="{{ if index $.Site.Data.authors .Params.author }}{{ index $.Site.Data.authors .Params.author }}{{ else }}Guest{{ end }}" />
    {{ end }}
    <meta name="twitter:label2" value="Reading time" />
    <meta name="twitter:data2" value="{{ .ReadingTime }} minute{{ if not (eq .ReadingTime 1) }}s{{ end }}" />
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}
  
    {{ $logo := printf "%s%s" $url "/images/og.jpg" | safeJS }}
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.tomango.co.uk\/","name":"Tomango"}</script>
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/www.tomango.co.uk\/","sameAs":["https:\/\/www.facebook.com\/tomangoUK","https:\/\/www.instagram.com\/tomangoUK\/","https:\/\/www.linkedin.com\/company\/tomango","https:\/\/twitter.com\/tomangoUK"],"@id":"#organization","name":"Tomango","logo":"{{ $logo }}"}</script>

    <style>
      @font-face {
        font-family: NeueHaasGrotesk;
        src: url('webfonts/34C79D_0_0.woff2') format('woff2'),
             url('webfonts/34C79D_0_0.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
      @font-face {
        font-family: NeueHaasGrotesk;
        src: url('webfonts/34C79D_1_0.woff2') format('woff2'),
             url('webfonts/34C79D_1_0.woff') format('woff');
        font-weight: 700;
        font-style: normal;
      }

      body {
        font-family: 'Helvetica', sans-serif;
      }
      .fonts-loaded body {
        font-family: 'NeueHaasGrotesk', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
    <script>
      if(sessionStorage.foutFontsLoaded) document.documentElement.className += " fonts-loaded";
    </script>
    {{ block "head" . }}{{ end }}
  </head>
  <body>

    <header role="banner" class="top bw{{ if eq .RelPermalink "/" }} top--home{{ else if eq .Dir "thinks/" }} top--blog{{ end }}">
      <div class="top-contact">
        <a href="/" class="logo"><strong><span>T</span>omango</strong></a>
        <a href="#navigation" class="navicon" aria-label="Go To Navigation"><i></i><i></i><i></i></a>
        <a href="tel:01273814019">+44 (0)1273 814 019</a>
      </div>

      {{ if eq .RelPermalink "/" }}
        <div class="top-content top-content--home wrap">
          <div>
            <h1>{{ .Title }}</h1>
            <h3>{{ safeHTML .Params.Subtitle }}</h3>
          </div>
        </div>
      {{ else }}
        <div class="top-content wrap">
          {{ block "header_content" . }}
            <h1>{{ replace .Title "Tips  Advice" "Tips & Advice" }}</h1>
            {{ if .Params.subtitle }}<h3>{{ .Params.Subtitle }}</h3>{{ end }}
          {{ end }}
        </div>
      {{ end }}

      <nav id="navigation" role="navigation" aria-label="main navigation" class="top-nav bw">
        <div class="top-nav-wrapper">
          <div class="wrap wrap--content">
            <a href="/created/">Our work</a>
            <a href="/is/">About</a>
            <a href="/creates/">What we do</a>
            <a href="/thinks/">Blog</a>
            <a href="/contact/">Contact</a>
          </div>
        </div>
      </nav>
    </header>


    <main class="main" role="main">
      {{ block "main" . }}

      {{ end }}
    </main>

    {{ partial "banner" . }}

    {{ partial "cta" . }}
      
    {{ partial "footer" }}

    <script src="app.js" async defer></script>
    {{ block "foot" . }}{{ end }}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
          if (!user) {
            window.netlifyIdentity.on("login", function() {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    {{ if not .Site.BuildDrafts }}
      <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js', {
                scope: '/'
            });
            window.addEventListener('load', function() {
                if (navigator.serviceWorker.controller) {
                    navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
                }
            });
        }
      </script>
    {{ end }}
  </body>
</html>
