.find {
	background: #D8D8D8;
	position: relative;

	&__left {
		margin-bottom: 60px;
	}

	@include mq(600px) {
		font-size: 16px;

		&__left {
			margin-bottom: 0;
		}

		&__content {
			display: grid;
			grid-template-columns: 3.25fr 5fr;
			grid-gap: 30px;
		}
	}
}

.find .content {
	padding: 40px 20px;
}

.map {
	position: relative;
	padding-bottom: 80%;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

@media screen and (min-width: 1000px) {
	.map {
		padding-bottom: 0;
		position: absolute;
		height: 100%;
		width: 35%;
		right: 0;
		top: 0;
	}

	.find .content {
		padding: 84px 20px 70px;
	}

	.find .content > * {
		max-width: calc(65% - 20px);
	}

	.find .content h3 {
		margin-bottom: 25px;
	}

	.find .content .button {
		margin-top: 23px;
		width: 100%;
		max-width: 204px;
	}

	.find {
		font-size: inherit;

		&__right p {
			max-width: 430px;
		}
	}
}


.form--contact {
	padding: 25px 0 20px;
}

.form--contact p,
.drip-form div {
	position: relative;
}

label {
	display: block;
	margin: 0;
	cursor: pointer;
	color: inherit;
	font-weight: 700;
	font-size: 16px;
}

label sup {
	position: relative;
	top: 2px;
}

input {
	transition: 300ms all;
}

textarea,
input {
	box-shadow: none;
	border: none;
	border-bottom: 2px solid #D8D8D8;
	margin: 0 0 1.5rem;
	display: block;
	color: inherit;
	font: inherit;
	outline: none;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
	background: #FFF;
	padding: 0.6rem 0.75rem;
	width: 100%;
}

.selected input[type=email]:invalid:focus,
.selected input[type=email]:invalid,
.error input[type=email],
.selected input[type=tel]:invalid:focus,
.selected input[type=tel]:invalid,
.error input[type=tel],
.selected input[type=text]:invalid:focus,
.selected input[type=text]:invalid,
.error input[type=text],
.selected textarea:invalid:focus,
.selected textarea:invalid,
.error textarea {
	border-bottom-color: #ED1B2F;
}

textarea:focus,
input:focus {
	border-bottom-color: #63666A;
}

textarea {
	-webkit-appearance: none;
	min-height: 240px;
	box-shadow: none;
	min-width: 100%;
	max-width: 100%;
	outline: none;
}

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
	border-color: #999;
	margin: 0;
	width: auto;
}

input[type="checkbox"] {
	border-radius: 0;
}

.form-group-radio {
	border-bottom: 2px solid #D8D8D8;
	margin-bottom: 30px;
	position: relative;
}

.form-group-radio div {
	padding: 20px 0;
}

.form-group-radio input[type="radio"] {
	display: none;
}

.form-group-radio input[type="radio"]:checked + span {
	color: #ED1B2F;
}

.radio-label {
	-webkit-tap-highlight-color:  transparent;
	position: static;
	font-weight: 400;
}

input[type="submit"] {
	min-width: 163px;
}

.validation-hide {
	display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #F7F7F7 inset;
}

.signup-form {
	padding-top: 40px;
}

@media screen and (min-width: 35em) {

	.form--contact p {
		min-height: 74px;
	}

	input[type="submit"] {
		margin-top: 48px;
	}

	label {
		position: absolute;
		left: 0;
		top: 22px;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		padding: 18px 18px 18px 120px;
		margin: 0;
		font-size: 20px;
	}

	textarea {
		border-top: 57px solid #FFF;
		padding: 0;
	}

	.form--contact p {
		margin-bottom: 0;
	}

	.form-group-radio {
		margin-bottom: 0;
		padding: 0 0 0 120px;
	}

	.form-group-radio div {
		padding: 18px 0;
	}

	.radio-label {
		display: inline-block;
	}

	.radio-label + .radio-label {
		margin-left: 40px;
	}

	.radio-label:last-child {
		margin-right: 0;
	}

	.drip-form input[type="email"] {
		padding-left: 180px;
	}

	.signup-form {
		padding-top: 80px;
	}

}
