.post {
	margin-bottom: 72px;

	&:last-child {
		margin-bottom: 0;
	}

	h2 {
		transition: .2s color;

		&:hover {
			color: $red;
		}
	}

	.button {
		margin-bottom: 0;
	}

	&-image {
		margin-bottom: 15px;
	}

	&-preview {
		overflow: hidden;
	}

	@include mq(688px) {
		&-image {
			margin: 0 0 0 36px;
			width: calc(50% - 18px);
			float: right;
		}

		&-work:nth-child(odd) .post-image {
			margin: 0 36px 0 0;
			float: left;
		}
	}

	@include mq(900px) {
		&-work {
			h2 {
				max-width: 500px;
			}

			.post-preview {
				padding: 3vw 36px 0 0;
			}

			&:nth-child(odd) {
				.post-preview {
					padding-left: 36px;
					padding-right: 0;
				}
			}
		}

		&:last-child {
			margin-bottom: 72px;
		}
		
		.three-col + .wrap &-quote:last-child,
		.content + .wrap &-quote:last-child {
			margin-bottom: 0;
		}
	}

	@include mq(1100px) {
		&-work .post-preview {
			padding-top: 70px;
		}
	}
}

.v-card {
	img {
		margin: 0 26px 30px 0;
		width: 66px;
		float: left;
	}

	h3 {
		margin-bottom: -4px;
	}

	time {
		font-size: 16px;
	}

	@include mq(40em) {
		img {
			margin-bottom: 33px;
			width: 120px;
		}
	}
}

.truncator {
	margin-bottom: 0;
}

.truncate {
	button {
		font: inherit;
		color: #E8192D;
		padding: 0;
		border: none;
		background: transparent;
		border-bottom: 2px solid $light;
		font-weight: 400;
		transition: 300ms border-bottom-color;
		line-height: 1;

		&:hover {
			border-bottom-color: #E8192D;
		}
	}
}

.truncator ~ *,
.truncator .extra-truncation {
	display: none;
}
