.stats {
	background: $light;
}

.stat {
	padding: 0 15px 0 0;
	line-height: 1.2;

	h2 {
		margin: 0 0 -2px;
		line-height: inherit;
	}

	div {
		font-size: 14px;
	}

	em {
		font-style: normal;
		color: $red;
		font-size: 0.6em;
	}

	+ .stat {
		margin-top: 20px;
	}

	@include mq(40em) {
		width: 50%;
		float: left;

		div {
			font-size: 16px;
		}

		+ .stat {
			margin-top: 0;
		}
	}
}
