{{ define "main" }}
	<div class="wrap wrap--content insulate">
		<div class="content">
			{{ .Content }}
		</div>

		<div id="contact">
			{{ partial "form" . }}
		</div>
	</div>

	<div class="find">
		<div class="content wrap">
			<div class="find__content">
				<div class="find__left">
					<h3>Studio Address</h3>
					<div class="contact clear">
						<p>3 Meadow Business Centre<br>
						Old Uckfield Road, Ringmer<br>
						East Sussex BN8 5RW</p>
						<div>
							<a rel="me" href="mailto:hello@tomango.co.uk">hello@tomango.co.uk</a><br>
							<a rel="me" href="tel:01273814019">+44 (0)1273 814 019</a><br><br>
							<a href="https://www.google.co.uk/maps/place/Tomango+Ltd/@50.9004654,0.0374213,17z/data=!3m1!4b1!4m5!3m4!1s0x47df624e751c6351:0x102dd9fb9cb32131!8m2!3d50.900462!4d0.03961" class="button">Get directions</a>
						</div>
					</div>
					<small>
						Registered address:<br>
						7 - 9 The Avenue, Eastbourne, East Sussex,<br>
						BN21 3YA Registered in England & Wales.<br>
						Company No. 8234235.<br>
						VAT No. 152830914
					</small>
				</div>
				<div class="find__right">
					<h3>Finding us by road</h3>
					<p>Turn off the A26 between Lewes and Uckfield at the sign for The Cock Inn public house and follow the road round to the left for about 500 yards.</p>
					<p>Opposite the entrance to the Garden Centre, you’ll see a wooden gate set back from the road. If you pull up in front of the gate it will open automatically. Follow the gravel drive round and down past Lavant Barn into the main car park.</p>
					<p>Park on the right hand side of the car park. Directly opposite, you’ll see the entrance to a courtyard setting. Our office is on the side directly opposite the car park – just come in through the main double doors entrance.</p>
				</div>
			</div>
		</div>
		<div class="map"><div id="map"></div></div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDhRv0umy_C6q9jtktoGTWm-qrWFeHdJMQ"></script>
	<script>
		(function() {
			var center = new google.maps.LatLng( 50.900217, 0.039475 ),
				mapOptions = {
					zoom: 15,
					center: center,
					minZoom: 5,
					maxZoom: 19,
					mapTypeControl: false,
					scrollwheel: false,
					zoomControl: false
				},
				map = new google.maps.Map( document.getElementById( 'map' ), mapOptions );

				new google.maps.Marker(
					{
						position: center,
						map: map,
						visible: true,
						icon: {
							url: 'images/pin.png'
						}
					}
				);
				
				map.setOptions({styles: [{featureType: 'all',stylers: [{ saturation: -100 }]},{featureType: 'poi.business',elementType: 'labels',stylers: [{ visibility: 'off' }]},{featureType: 'water',stylers: [{ lightness: -20 }]}]});
		})();
	</script>
{{ end }}