.content {
	ul,
	ol {
		margin: 0 0 1.6em;
		line-height: 1.5;
	}

	ul li {
		list-style: disc;
		margin: 0 0 0.5rem 1em;
	}

	ol li {
		list-style: decimal;
		margin: 0 0 0.5rem 1em;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-top: 1.5rem;
	}

	ul ol li  {
		list-style: lower-alpha;
	}

	div[style*="56.25"] {
		margin-bottom: 30px;
	}

	twitterwidget {
		width: 100%!important;
		margin: 30px 0!important;
	}

	img {
		margin-bottom: 30px;

		&[title] {
			margin-bottom: 0;

			& + .caption {
				display: block;
				margin: 10px 0 30px;
				font-size: 0.7em;
				line-height: 1.5;
			}
		}
	}

	h2 {
		letter-spacing: 0;
		line-height: 1.3125;
		font-size: 1.6em;
		margin: 0 0 .7em;
	}

	h3 {
		margin: 0 0 1.125em;
	}

	hr {
		margin: 2rem 0;
		border: none;
		border-bottom: 1px solid $light;
	}

	p a:not(.button),
	li a {
		border-bottom: 2px solid $light;
		font-weight: 400;
		transition: 300ms border-bottom-color;
		color: #E8192D;

		&:hover {
			border-bottom-color: #E8192D;
		}
	}

	p + h2,
	p + h3,
	ul + h2,
	ul + h3,
	ol + h2,
	ol + h3 {
		margin-top: 1.8em;
	}

	blockquote {
		p {
			color: $black;
		}

		cite {
			margin-bottom: 30px;
			display: block;
		}

		@include mq(850px) {
			padding: 20px 0 12px;
			margin-left: -72px;
			width: 720px;
		}
	}

	.more-work {
		padding: 50px 20px;
		margin: 0;

		.wrap--content.insulate + & {
			margin-top: -30px;

			@include mq(850px) {
				margin-top: -100px;
			}
		}
	}

	.update {
		background: #FAFAFA;
		padding: 30px;
		margin-bottom: 30px;

		p:first-child {
			display: none;

			& + h2 {
				margin-top: 0;
			}
		}
	}
}

.embed {
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	margin: 0 0 1.5rem;
	height: 0;

	iframe {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
}

.contact ~ small {
	padding-top: 40px;
	line-height: 20px;
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

table {
	border: 1px solid $light;
	border-collapse: collapse;
	width: 100%;
	margin: 1.5rem 0;
	text-align: left;
	
	th,
	td {
		border: 1px solid $light;
		font-size: 0.9em;
		padding: 5px;
		
	}
}
