{{ define "header_content" }}
	<h1>{{ .Title }}</h1>
	<h3>By {{ if index $.Site.Data.authors .Params.author }}{{ index $.Site.Data.authors .Params.author }}{{ else }}Guest{{ end }} &nbsp; &nbsp; &nbsp; <time datetime="{{ .Date }}">{{ partial "date" .Date }}</time></h3>
{{ end }}

{{ define "main" }}
	<div class="wrap three-col insulate">
		<aside>
			<img src="images/team/thumbnail/{{ if index $.Site.Data.authors .Params.author }}{{ .Params.author }}{{ else }}fallback{{ end }}.jpg" alt="{{ index $.Site.Data.authors .Params.author }}">
		</aside>
		<aside>
			{{ if .NextInSection }}
				<a class="traverse" href="{{ .NextInSection.URL }}"><img src="images/traverse.svg" alt="Next Post"></a>
			{{ end }}
			
			{{ if .PrevInSection }}
				<a class="traverse" href="{{ .PrevInSection.URL }}"><img src="images/traverse.svg" alt="Next Post"></a>
			{{ end }}
		</aside>
		<div class="content content--blog">
			{{ .Content }}
			
			<aside class="signup-form">
				<h2>Get exclusive content</h2>
				<p>Get my ideas, techniques and tips to position and grow your business by maximising your brand and online presence, straight to your inbox.</p>
				{{ partial "subscribe" }}
			</aside>
		</div>
	</div>
{{ end }}
