{{ define "header_content" }}
	<h1>{{ .Title }}</h1>
	{{ if .Params.author }}
		<h3>By {{ if index $.Site.Data.authors .Params.author }}{{ index $.Site.Data.authors .Params.author }}{{ else }}Guest{{ end }} &nbsp; &nbsp; &nbsp; <time datetime="{{ .Date }}">{{ partial "date" .Date }}</time></h3>
	{{ end }}
{{ end }}

{{ define "main" }}
	<div class="wrap three-col insulate">
		<aside>
			<img src="images/team/thumbnail/{{ if and (.Params.author) (index $.Site.Data.authors .Params.author) }}{{ .Params.author }}{{ else }}fallback{{ end }}.jpg" alt="{{ index $.Site.Data.authors .Params.author }}">
		</aside>
		<aside>
			{{ if .NextInSection }}
				<a class="traverse" href="{{ .NextInSection.URL }}"><img src="images/traverse.svg" alt="Next Post"></a>
			{{ end }}
			
			{{ if .PrevInSection }}
				<a class="traverse" href="{{ .PrevInSection.URL }}"><img src="images/traverse.svg" alt="Next Post"></a>
			{{ end }}
		</aside>
		<div class="content content--blog">
			{{ .Content }}
			
			<aside class="signup-form">
				<h2>Need some quick advice?</h2>
				<p>Sign up to receive Tomango's weekly email—containing ideas, techniques and tips to help you grow your business by maximising your brand and online presence.</p>
				{{ partial "subscribe" }}
			</aside>
		</div>
	</div>
{{ end }}
